<!DOCTYPE html>
<html lang="en-us" class="no-js">

	<head>
		<meta charset="utf-8">
        <title>VARSTATE</title>
        <meta name="description" content="The description should optimally be between 150-160 characters.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Adam I. Gerard">

        <!-- ============== Resources style ============== -->
        <link rel="stylesheet" href="css/style.css" />

		<!-- Modernizr runs quickly on page load to detect features -->
		<script src="js/modernizr.custom.js"></script>
	</head>
	
	<body>

		<!-- Page preloader -->
		<div id="loading">
			<div id="preloader">
				<span></span>
				<span></span>
			</div>
		</div>

		<canvas id="fireworks"></canvas>

		<!-- Overlay and Star effect -->
		<div class="global-overlay">
			<div class="overlay skew-part">

				<div id='stars'></div>
				<div id='stars2'></div>
				<div id='stars3'></div>

			</div>
		</div>

		<!-- START - Home/Left Part -->
		<section id="left-side">

			<!-- Your logo -->
			<img src="img/logo.png" alt="" class="brand-logo" />

			<div class="content">

				<h1 class="text-intro opacity-0">Welcome!<br>
					A Free STUN Server For You!</h1>

				<h2 class="text-intro opacity-0">Forked from: <a href="https://github.com/enobufs/stun" target="__blank">enobufs</a><br>
					For Your Very Own WebRTC Testing</h2>
				<nav>
					<ul>
						<li>
							<a href="#" id="copy" data-target="right-side" class="light-btn text-intro opacity-0">Click to Copy URL</a>
						</li>
						<li>
							<a id="visit" class="action-btn trigger text-intro opacity-0">Visit Me!</a>
						</li>
					</ul>
				</nav>

			</div>

			<!-- Social icons -->
			<div class="social-icons">

				<a href="https://www.facebook.com/profile.php?id=16904713"><i class="fa fa-facebook"></i></a>
				<a href="skype:kingdom.of.ends?call"><i class="fa fa-skype"></i></a>
				<a href="https://plus.google.com/u/0/116285994095996582916/posts"><i class="fa fa-google-plus"></i></a>
				<a href="https://www.linkedin.com/in/adamintaegerard"><i class="fa fa-linkedin"></i></a>

			</div>

		</section>
		<!-- END - Home/Left Part -->

			<footer>
				<p id="copyText" style="display:none">http://www.varstate.com | 127.0.0.1 | 127.0.0.2 </p>
			</footer>

		</section>

	<!-- Custom -->	
    <!-- From this cool dude: http://stackoverflow.com/questions/22581345/click-button-copy-to-clipboard-using-jquery-->
	<script>
    document.getElementById("copy").addEventListener("click", function() {
        copyToClipboard(document.getElementById("copyText"));
    });

    function copyToClipboard(elem) {
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);
            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch (e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }
	</script>

	<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\	\\\\\\\\/////////////////// -->
	
	<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easings.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Custom -->
	<script>
		$(document).ready(function() {
			$('#visit').click(function(e){
				e.preventDefault();
				window.open("http://www.stackchampion.com", "__blank");
			});
		});
	</script>

	<!-- Accelerated JavaScript animation JS file -->
	<script src="js/velocity.min.js"></script> 

	<!-- Accelerated JavaScript animation UI JS file -->
	<script src="js/velocity.ui.min.js"></script> 

	<!-- Slideshow/Image plugin (only for fireworks variant) -->
	<script src="js/vegas-fireworks.js"></script>

	<!-- Scroll plugin -->
	<script src="js/jquery.mousewheel.js"></script>

	<!-- Custom Scrollbar plugin -->
	<script src="js/jquery.mCustomScrollbar.js"></script>

	<!-- PhotoSwipe Core JS file -->
	<script src="js/photoswipe.js"></script> 

	<!-- PhotoSwipe UI JS file -->
	<script src="js/photoswipe-ui-default.js"></script>

	<!-- Fireworks plugin -->
	<script src="js/fireworks.js"></script>

	<!-- Main JS File -->
	<script src="js/main.js"></script>
	
	<!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

	</body>

</html>