<!DOCTYPE html>
<html lang="en-us" class="no-js">
   <head>
      <meta charset="utf-8">
      <title>Varstate</title>
      <meta name="description" content="The description should optimally be between 150-160 characters.">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Adam InTae Gerard">
      <link rel="stylesheet" href="css/style.css" />
      <!-- Modernizr runs quickly on page load to detect features -->
      <script src="js/modernizr.custom.js"></script>
   </head>
   <body>
      <canvas id="dotty"></canvas>
      <!-- Page preloader -->
      <div id="loading">
         <div id="preloader">
            <span></span>
            <span></span>
         </div>
      </div>
      <!-- START - Home part -->
      <div class="outer-home">
         <!-- START - Home section -->
         <section id="home">
            <!-- Background picture(s) -->
            <div id="vegas-background"></div>
            <!-- Overlay -->
            <div class="global-overlay"></div>
            <!-- Your logo -->
            <img src="img/logo.png" alt="" class="brand-logo text-intro opacity-0" />
            <!-- START - Content -->
            <div class="content">
               <h1 class="text-intro opacity-0">Welcome!<br>
                  A Free STUN Server For You!
               </h1>
               <h2 class="text-intro opacity-0">Forked from: <a href="https://github.com/enobufs/stun" target="__blank">enobufs</a><br>
                  For Your Very Own WebRTC Testing
               </h2>
               <nav>
                  <ul>
                     <li>
                        <a href="#" id="copy" data-target="right-side" class="light-btn text-intro opacity-0">Click to Copy URL</a>
                     </li>
                     <li>
                        <a id="visit" class="action-btn trigger text-intro opacity-0">Git It!</a>
                     </li>
                  </ul>
               </nav>
            </div>
            <!-- END - Content -->
            <!-- START - Bottom home -->
            <div class="bottom-home">
               <!-- Social icons, replace # by your links -->
               <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=16904713" target="__blank"><i class="fa fa-facebook"></i></a>
                  <a href="skype:kingdom.of.ends?call"><i class="fa fa-skype"></i></a>
                  <a href="https://plus.google.com/u/0/116285994095996582916/posts" target="__blank"><i class="fa fa-google-plus"></i></a>
                  <a href="https://www.linkedin.com/in/adamintaegerard" target="__blank"><i class="fa fa-linkedin"></i></a>
               </div>
               <p class="copyright">
                  © <a href="http://www.stackchampion.com" target="__blank">Stackchampion.com</a>
               </p>
               <p id="copyText" style="display:none">http://www.varstate.com | 127.0.0.1 | 127.0.0.2 </p>
            </div>
            <!-- END - Bottom home -->
         </section>
         <!-- END - Home section -->
      </div>
      <!-- END - Home part -->

      <!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
      <!-- ********** Resources jQuery ********** -->
      <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
      <!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery.easings.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

          <!-- Custom -->
	  <script>
    	$(document).ready(function () {
        	$('#visit').click(function (e) {
            	e.preventDefault();
            	window.open("https://github.com/Thoughtscript/tool-node_stun", "__blank");
        	});
   		 });
	  </script>

      <!-- From this cool dude: http://stackoverflow.com/questions/22581345/click-button-copy-to-clipboard-using-jquery-->
      <script>
         document.getElementById("copy").addEventListener("click", function () {
             copyToClipboard(document.getElementById("copyText"));
         });
         
         function copyToClipboard(elem) {
             // create hidden text element, if it doesn't already exist
             var targetId = "_hiddenCopyText_";
             var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
             var origSelectionStart, origSelectionEnd;
             if (isInput) {
                 // can just use the original source element for the selection and copy
                 target = elem;
                 origSelectionStart = elem.selectionStart;
                 origSelectionEnd = elem.selectionEnd;
             } else {
                 // must use a temporary form element for the selection and copy
                 target = document.getElementById(targetId);
                 if (!target) {
                     var target = document.createElement("textarea");
                     target.style.position = "absolute";
                     target.style.left = "-9999px";
                     target.style.top = "0";
                     target.id = targetId;
                     document.body.appendChild(target);
                 }
                 target.textContent = elem.textContent;
             }
             // select the content
             var currentFocus = document.activeElement;
             target.focus();
             target.setSelectionRange(0, target.value.length);
         
             // copy the selection
             var succeed;
             try {
                 succeed = document.execCommand("copy");
             } catch (e) {
                 succeed = false;
             }
             // restore original focus
             if (currentFocus && typeof currentFocus.focus === "function") {
                 currentFocus.focus();
             }
         
             if (isInput) {
                 // restore prior selection
                 elem.setSelectionRange(origSelectionStart, origSelectionEnd);
             } else {
                 // clear temporary content
                 target.textContent = "";
             }
             return succeed;
         }
      </script>
      <!-- End Custom -->
      
      <!-- Mozaic plugin -->
      <script src="js/mozaic.js"></script>
      <!-- Main JS File -->
      <script src="js/main.js"></script>
      <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
   </body>
</html>